body{
}

#myCanvas {
    background-color: black;
    position: fixed;
}

.text_color {
    color: white;
}

.logo {
    font-size: 30px;
    font-family: 'Press Start 2P', cursive;
}

.centerfold {
    padding-top: 50px;
    font-size: 17px;
    color: white;
}

.about_paragraph {
    padding: 15px;
    font-size: 15px;
}

.about_topic {
    padding-top: 10px;
    padding-bottom: 10px;
}

.links {
    padding: 10px;
    color:  white;
}

hr {
    border: 1px solid white;
}

h1 {
    font-family: 'Press Start 2P', cursive;
    text-shadow: 0px 2px white;
}

h3 {
    font-family: 'Press Start 2P', cursive;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
}

#graduation {
    height: 200px;
    width: auto;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

.row.content {
    height: 500px;
}

.sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
}

@media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;}
}
