#myCanvas {
    background-color: black;
    position: fixed;
}

.centerfold {
    padding-top: 50px;
    font-size: 17px;
    color: white;
}

.links {
    padding: 10px;
    color:  white;
}

h1 {
    font-family: 'Press Start 2P', cursive;
    text-shadow: 3px 3px grey;
    color: white;
}

a {
    text-decoration: none;
    text-shadow: 1.5px 1.5px grey;
    color: white;
}

a:hover {
    text-decoration: none;
    color: grey;
    text-shadow: none;
}
