.text_color {
    color: cornflowerblue;
}

.logo {
    color: cornflowerblue;
    font-size: 30px;
    font-family: "Rubik One";
}

h1 {
    font-family: "Monoton";
    text-shadow: 4px 4px 4px #aaa
}

a {
  text-decoration: none;
  color: cornflowerblue;
}

a:hover {
  text-decoration: none;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

.row.content {height: 450px;}

.sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
}

footer {
      background-color: #555;
      color: white;
      padding: 15px;
}

@media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;}
}
